<main id="main">

  <div class="container">

    <div class="row topspace">

      <!-- Sidebar -->
      <aside class="col-sm-4 sidebar sidebar-right">

        <ul class="nav text-right nav-side">
          <li class="active"><a href="" ng-click="scrollTo('vorstand')">Vorstand</a></li>
          <li><a href="" ng-click="scrollTo('trainer')">Trainer</a></li>
          <li><a href="" ng-click="scrollTo('trainingszeiten')">Trainingszeiten</a></li>
          <li><a href="" ng-click="scrollTo('satzung')">Satzung</a></li>
          <li><a href="" ng-click="scrollTo('geschichte')">Geschichte</a></li>
        </ul>

      </aside>
      <!-- /Sidebar -->

      <!-- Article main content -->
      <article class="col-sm-8 maincontent">
        <h3 id="vorstand">Vorstand</h3>
        <p>
          <b>1. Vorsitzender</b>
          <br>
          Ilyas Ormankiran
        </p>
        <p>
          <b>2. Vorsitzender</b>
          <br>
          Katharina Walke
        </p>
        <p>
          <b>Kassenwart</b>
          <br>
          Georg Langer
        </p>

        <h3 id="trainer">Trainer</h3>

        <p>
          <b>Ilyas Ormankiran</b>
          <br>
          &Uuml;bungsleiter seit 1991
          <br>
          4. Dan Taekwon-Do
          <br />
          Bereich: Taekwon-Do, Kickboxen
          <br />
          &Uuml;bungsleiter C - Lizenz im Breitensport
        </p>
        <p>
          <b>Patrick Vones</b>
          <br>
          &Uuml;bungsleiter seit 2007
          <br>
          5. Dan Taekwon-Do
          <br />
          Bereich: Taekwon-Do, Kickboxen
        </p>
        <p>
          <b>Katharina Walke</b>
          <br>
          &Uuml;bungsleiter seit 2015
          <br />
          Bereich: Taekwon-Do
          <br>
          Übungsleiterin C-Lizenz und Bereich Taekwon-Do Kids Programm

        </p>
        <p>
          <b>Sebastian Korona</b>
          <br>
          &Uuml;bungsleiter seit 2016
          <br>
          1. Dan Taekwon-Do
          <br />
          Bereich: Kickboxen
        </p>
        <h3 id="trainingszeiten">Trainingszeiten</h3>

        <p>
          <b>Kickboxen</b>
          <br>
          Montag, 18:30 - 20:00 Uhr, Gemeinschaftshauptschule - Bernburger Str. 44 - 40627 Düsseldorf
        </p>
        <!-- p>
          <b>Taekwon-Do: Kids-Programm</b>
          <br>
          Dienstag, 18:00 - 18:45 Uhr, Gemeinschaftshauptschule - Bernburger Str. 44 - 40627 Düsseldorf
        </p-->
        <p>
          <b>Taekwon-Do</b>
          <br>
          Dienstag, 18:00 - 20:00 Uhr, Gemeinschaftshauptschule - Bernburger Str. 44 - 40627 Düsseldorf
          <br>
          Donnerstag, 18:00 - 19:30 Uhr Uhr, Gemeinschaftshauptschule - Bernburger Str. 44 - 40627 Düsseldorf
        </p>

        <h3 id="satzung">Satzung</h3>
        <p>
          <b>&sect; 1 - Name / Sitz</b><br>
          1.&nbsp;Der Verein f&uuml;hrt den Namen &#132;Budosport D&uuml;sseldorf &quot;. Er soll in das Vereinsregister beim Amtsgericht D&uuml;sseldorf eingetragen werden und die Erweiterung &quot;e.V. &quot;erhalten.<br>
          2.&nbsp;Der Verein hat seinen Sitz in D&uuml;sseldorf.<br><br>
          <b>&sect; 2 - Gesch&auml;ftsjahr</b><br>

          Das Gesch&auml;ftsjahr ist gleich dem Kalenderjahr.<br><br>
          <b>&sect; 3 - Verb&auml;nde</b><br>
          Der Verein ist Mitglied im Landessportbund NRW und seinen Fachverb&auml;nden,<br>
          und dar&uuml;ber hinaus Mitglied im Deutschen Sportbund.<br><br>
          <b>&sect; 4 - Zweck / Aufgaben / Gemeinn&uuml;tzigkeit</b><br>

          1.&nbsp;Zweck des Vereins ist die F&ouml;rderung des Sportes insbesondere die der Budo-Sportarten. Der Satzungszweck wird durch Pflege und F&ouml;rderung der Sportarten als K&ouml;rper- und Geisteskultur sowohl allgemein als auch besonders f&uuml;r die Jungend verwirklicht.<br>
          2.&nbsp;Als Mittel zur Erreichung dieses Zweckes dienen: Vermittlung guten Budo-Unterrichts, Durchf&uuml;hrung eines geordneten Sportbetriebes unter den Mitgliedern, zu befreundeten Vereinen und den &uuml;bergeordneten Verb&auml;nden, insbesondere in Form von Freundschafts- und Meisterschaftsk&auml;mpfen.<br>
          3.&nbsp;Der Verein verfolgt ausschlie&szlig;lich und unmittelbar gemeinn&uuml;tzige Zwecke im Sinne des Abschnitts &#132;Steuerbeg&uuml;nstigte Zwecke&#132; der Abgabenordnung. Der Verein ist selbstlos t&auml;tig; er verfolgt nicht in erster Linie eigenwirtschaftliche Zwecke. Seine Mittel d&uuml;rfen nur f&uuml;r satzungsgem&auml;&szlig;e Zwecke verwendet werden und seine Mitglieder erhalten keine Zuwendungen aus Mitteln des Vereins.<br>

          Es darf keine Person durch Ausgaben, die dem Zweck des Vereins fremd sind und durch unverh&auml;ltnism&auml;&szlig;ig  hohe Verg&uuml;tungen beg&uuml;nstigt werden. <br><br>
          <b>&sect; 5 - Mitglieder</b><br>
          1.&nbsp;Der Verein f&uuml;hrt:<br>
          a) aktive Mitglieder<br>
          b)passive Mitglieder<br>

          c)Ehrenmitglieder<br>
          2.&nbsp;Alle vorstehenden Mitglieder haben die gleichen Pflichten und Rechte. <br>
          3. Ehrenmitglieder k&ouml;nnen vom Vorstand oder von den Mitgliedern vorgeschlagen werden.<br>
          Die Wahl erfolgt durch einfache Mehrheit der Mitgliederversammlung. <br>
          Ehrenmitglieder k&ouml;nnen von Beitragszahlungen freigestellt werden. <br><br>
          <b>&sect; 6 - Erwerb der Mitgliedschaft</b><br>
          1.  Mitglied des Vereins kann jede nat&uuml;rliche Person werden. <br>

          2.  Voraussetzung f&uuml;r den Erwerb der Mitgliedschaft ist ein schriftlicher Aufnahmeantrag, der an den Vorstand gerichtet wird. Bei Minderj&auml;hrigen ist der Antrag vom gesetzlichen Vertreter zu unterschreiben. Das Mitglied bzw. der gesetzliche Vertreter verpflichten sich damit zur Zahlung des Aufnahmebetrages und der Mitgliedsbeitr&auml;ge. <br>
          3.  Der Vorstand entscheidet &uuml;ber den Aufnahmeantrag durch einfache Mehrheit. Eine &Auml;nderung des Aufnahmeverfahrens bleibt dem Vorstand vorbehalten. Bei Ablehnung des Antrages ist er nicht verpflichtet, dem Antragsteller die Gr&uuml;nde mitzuteilen.<br>
          4.  Das aufgenommene Mitglied verpflichtet sich, die Satzung des Vereins und derjenigen Verb&auml;nde, denen der Verein selbst als Mitglied angeh&ouml;rt, verbindlich anzuerkennen. <br><br>
          <b>&sect; 7 - Beendigung der Mitgliedschaft</b><br>

          1.  Die Mitgliedschaft erlischt durch Austritt, Tod oder Ausschlu&szlig; aus dem Verein.<br>
          2.  Die Austrittserkl&auml;rung ist an den Vorstand zu richten. Bei Minderj&auml;hrigen ist die Austrittserkl&auml;rung auch von dem gesetzlichen Vertreter zu unterschreiben. Der Austritt ist zum Schlu&szlig; eines Kalenderhalbjahres ( 30.06. und 31.12. eines jeden Jahres ) unter Einhaltung einer Frist von einem Monat ( sp&auml;testens bis zum 31.05. bzw 30.11. eines jeden Jahres ) m&ouml;glich. Wird die Frist nicht eingehalten, verl&auml;ngert sich die Mitgliedschaft automatisch mit allen Rechten und Pflichten.<br>
          3.  Ein Mitglied kann nach vorheriger Anh&ouml;rung vom Gesamtvorstand aus dem Verein ausgeschlossen werden: <br>

          a)  wegen Zahlungsr&uuml;ckstand mit Beitr&auml;gen von mehr als einem -Jahresbetrag trotz Mahnung,<br>
          b)  wegen unehrenhafter Handlungen,<br>
          c)  wegen vereinssch&auml;digendem Verhaltens.<br>
          Der Bescheid &uuml;ber den Ausschlu&szlig; ist schriftlich zuzustellen. <br>
          4.  Gegen den Beschlu&szlig; kann das Mitglied Berufung an die Mitgliederversammlung einlegen. Die Berufung ist innerhalb eines Monats nach Zugang des Beschlusses beim Vorstand einzulegen. Der Vorstand hat nach fristgem&auml;&szlig;er Einlegung der Berufung in der folgenden Mitgliederversammlung &uuml;ber den Ausschlu&szlig; abstimmen zu lassen. <br><br>

          <b>&sect; 8 - Beitr&auml;ge</b><br>
          1. Der Mitgliedsbeitrag sowie au&szlig;erordentliche Beitr&auml;ge werden vom Vorstand vorgeschlagen und kommen j&auml;hrlich bei der Mitgliederversammlung zur Abstimmung. <br>
          2.  F&auml;llige Beitr&auml;ge sind innerhalb von acht Wochen nach Rechnungsdatum zu zahlen.<br>
          3.  Beitr&auml;ge sind einklagbar.<br><br>

          <b>&sect; 9 - Stimmrecht / Rederecht</b><br>
          1.  Jedes ordnungsgem&auml;&szlig; angemeldete Mitglied hat Stimm- und Rederecht. Das Stimmrecht wird ausgesetzt, wenn ein Mitglied acht Wochen des Jahresbetrages in Verzug ist. Das Rederecht kann vom Versammlungsleiter auf Personen &uuml;bertragen werden, wenn diese zu einem Bericht oder zu einer Stellungnahme aufgefordert werden. Das Stimm- und Rederecht von Mitgliedern bis 14 Jahren wird von dem Erziehungsberechtigten wahrgenommen.<br>
          2.  Mitglieder, denen kein Stimmrecht zusteht, k&ouml;nnen an der Mitgliederversammlung und der Jugendversammlung als G&auml;ste jederzeit teilnehmen.<br>
          3.  Das Stimmrecht kann nur pers&ouml;nlich ausge&uuml;bt werden und ist nicht &uuml;bertragbar.<br><br>

          <b>&sect; 10 - W&auml;hlbarkeit</b><br>
          1.  Gew&auml;hlt werden k&ouml;nnen alle vollj&auml;hrigen und vollgesch&auml;gtsf&auml;higen Mitglieder des Vereins. <br>
          2.  Mitglieder k&ouml;nnen auch in ihrer Abwesenheit in ein Vereinsamt gew&auml;hlt werden, wenn sie ihre Bereitschaft zuvor schriftlich erkl&auml;ren.<br><br>
          <b>&sect; 11 - Organe der Vereins</b><br>

          Die Organe des Vereins sind:<br>
          1.  Die Mitgliederversammlung<br>
          2.  Der Vorstand<br><br>
          <b>&sect; 12 - Mitgliederversammlung</b><br>
          1.  Oberstes Organ ist die Mitgliederversammlung.<br>
          2.  In jedem Jahr mu&szlig; mindestens eine ordentliche Hauptversammlung stattfinden, und zwar im ersten Quartal des Kalenderjahres.<br>
          3.  Die Einberufung erfolgt vom Vorstand ca. 3 Wochen vorher durch einfachen Brief.<br>

          4.  Mit Einberufung der ordentlichen Mitgliederversammlung ist die Tagesordnung mitzuteilen.<br>
          5.  Eine au&szlig;erordentliche Mitgliederversammlung ist innerhalb einer Frist von vier Wochen  mit entsprechender Tagesordnung einzuberufen, wenn es <br>
          a)  der Vorstand beschlie&szlig;t <br>
          oder <br>
          b)  ein viertel der stimmberechtigten Mitglieder dieses schriftlich beantragen. <br>
          6.  Beschl&uuml;sse werden mit einfacher Mehrheit der anwesenden stimmberechtigten Mitglieder gefa&szlig;t. Satzungs&auml;nderungen k&ouml;nnen nur mit einer Mehrheit von _ der erschienenen stimmberechtigten Mitglieder beschlossen werden. <br>

          7.  Antr&auml;ge k&ouml;nnen gestellt werden: <br>
          a)  von den Mitgliedern<br>
          b)  vom Vorstand<br>
          c)  von den Abteilungen.<br>
          8.  Geheime Wahl findet statt, wenn es die Mehrheit der Anwesenden w&uuml;nscht.<br>
          9.  &Uuml;ber den Versammlungsverlauf ist ein Protokoll anzufertigen, welches vom Versammlungsleiter und Protokollf&uuml;hrer zu unterzeichnen ist.<br><br>

          <b>&sect; 13 - Vorstand</b><br>
          1.  Der gesch&auml;ftsf&uuml;hrende Vorstand nach &sect; 26 BGB besteht aus dem ersten Vorsitzenden, dem zweiten Vorsitzenden und einem Kassierer (Kassenwart). Sie vertreten den Verein gerichtlich und au&szlig;ergerichtlich. Jeder von ihnen allein ist vertretungsberechtigt. <br>
          2.  Eine Erweiterung beh&auml;lt sich der Vorstand vor. <br>
          3.  Alle Mitglieder des Vorstandes werden f&uuml;r zwei Jahre von der Mitgliederversammlung gew&auml;hlt und bleiben bis zur Neuwahl im Amt. Wiederwahl ist zul&auml;ssig. <br>

          4.  Der Vorstand gibt sich eine Gesch&auml;ftsordnung. Der Gesamtvorstand leitet den Verein, seine Sitzungen werden vom Vorsitzenden geleitet, er tritt zusammen, wenn es das Vereinsinteresse erfordert oder drei seiner Mitglieder es beantragen. <br>
          Er ist beschlu&szlig;f&auml;hig, wenn die H&auml;lfte seiner Mitglieder anwesend ist. <br>
          5.  Zu den Aufgaben des Gesamtvorstandes geh&ouml;ren u.a.:<br>
          a)  Die Durchf&uuml;hrung der Beschl&uuml;sse der Mitgliederversammlung.<br>
          b)  Die Bewilligung von Ausgaben<br>

          c) Aufnahme, Ausschlu&szlig; und Ma&szlig;regelungen von Mitgliedern. <br>
          Der Vorstand kann einzelne Personen f&uuml;r bestimmte Aufgaben bevollm&auml;chtigen.<br><br>
          <b>&sect; 14 - Jugendleitung</b><br>
          Die Jugendleitung wird von den Jugendlichen des Vereins gew&auml;hlt. <br>
          Einzelheiten der Wahl und die Aufgaben der Jugendleitung werden durch die Jugendordnung bestimmt, die die Jugendversammlung des Vereins selbst beschlie&szlig;t.<br><br>

          <b>&sect; 15 - Kassenpr&uuml;fer</b><br>
          Die Mitgliederversammlung w&auml;hlt auf die Dauer von zwei Jahren zwei Kassenpr&uuml;fer. <br>
          Sie d&uuml;rfen nicht dem Gesamtvorstand angeh&ouml;ren. <br>
          Die Kassenpr&uuml;fer haben gemeinsam die Aufgabe:<br>
          a)  innerhalb des Gesch&auml;ftsjahres und zum Ende desselben die Kassenb&uuml;cher, Kassenbelege, Kassenbest&auml;nde und die Verm&ouml;genswerte zu &uuml;berpr&uuml;fen. <br>

          b)  der Mitgliederversammlung &uuml;ber das Ergebnis ihrer Pr&uuml;fung zu berichten,<br>
          c)  Beantragung der Entlastung des gesch&auml;ftsf&uuml;hrenden Vorstandes. <br><br>
          <b>&sect; 16 - Aufl&ouml;sung des Vereins</b><br>
          1.  Die Aufl&ouml;sung des Vereins kann nur in einer au&szlig;erordentlichen Mitgliederversammlung beschlossen werden. Auf dieser Tagesordnung der Versammlung darf nur der Punkt Aufl&ouml;sung des Vereins stehen. <br>

          2.  Die Einberufung einer solchen Mitgliederversammlung darf nur erfolgen, wenn es<br>
          a)  der Gesamtvorstand mit einer Mehrheit von aller seiner Mitglieder beschlossen hat, <br>
          oder<br>
          b)  von einem Drittel der stimmberechtigten Mitglieder des Vereins schriftlich gefordert wurde. <br>
          3.  Die Versammlung ist beschlu&szlig;f&auml;hig, wenn mindestens 50 % der stimmberechtigten Mitglieder anwesend sind. Die Aufl&ouml;sung kann nur mit einer Mehrheit von der erschienenen stimmberechtigten Mitglieder beschlossen werden.<br>
          Ist die einberufene Mitgliederversammlung nicht beschlu&szlig;f&auml;hig, so ist eine zweite Mitgliederversammlung mit gleicher Tagesordnung nach vier Wochen erneut einzuberufen. Es ist darauf hinzuweisen, da&szlig; die anwesenden Mitglieder beraten und beschlie&szlig;en k&ouml;nnen, und zwar mit einfacher Mehrheit.<br>

          4.  Bei Aufl&ouml;sung oder Aufhebung des Vereins oder bei Wegfall seines bisherigen Zwecks wird das vorhandene Verm&ouml;gen gemeinn&uuml;tzigen Zwecken der Johanniter-Unfall-Hilfe e.V.  zuflie&szlig;en.
        </p>

        <h3 id="geschichte">Geschichte</h3>

        <p>Wie aus der ehemaligen Abteilung Taekwon-Do des Judoclub Asahi D&uuml;sseldorf ein eigenst&auml;ndiger Verein wurde. Im Gr&uuml;nderjahr 1999 wurde eine Vision in die Tat umgesetzt. Im April des Jahres wurde die Gr&uuml;ndungsversammlung von folgenden 9 Mitgliedern einberufen: Frederic Matzky, Johannes Eichstedt, Martin G&ouml;rke, Ralf Dahmen, Anja Eichelbauer, Ilyas Ormankiran, Carsten Wiesner, Frank Wolf, Hung Do.<br>
          Der damalige Abteilungsleiter des JCD Frank Wolf wurde einstimmig von der Versammlung zum Vorsitzenden des neuen Vereins gew&auml;hlt. Noch in der selben Sitzung wurde nach mehreren Vorschl&auml;gen der Name Budosport D&uuml;sseldorf gew&auml;hlt.<br>
          Als weitere Vorstandsmitglieder wurde Carsten Wiesner zum 2. Vositzenden, Ilyas Ormankiran zum Kassenwart, Anja Eichelbauer zur Schriftf&uuml;hrerin gew&auml;hlt.  Angefangen wurde mit einer &uuml;briggebliebenen Truppe von 33 Mitgliedern.<br>
          Alle wussten, das eine Menge Arbeit aufkommen w&uuml;rde, und einiges zu bewerkstelligen w&auml;re um die notwendige Mitgliederzahl von min. 45 zu erreichen. Denn war kein Geld vorhanden, und eine anf&auml;ngliche Durststrecke musste &uuml;berwunden werden. Dabei verzichteten anfangs sogar die &Uuml;bungsleiter auf ihre Aufwandsentsch&auml;digungen um dem jungen Verein auf die Beine zu helfen.
          Die Durststrecke wurde im n&auml;chsten Jahr &uuml;berwunden. Mit steigender Mitgliederzahl l&ouml;ste sich das Problem von selbst.Dies wurde zum Einen durch eine grundlegende Umstrukturierung im Kursbereich, zum anderen durch Werbung erreicht.<br>
          Auch der stark anwachsende Bereich im Kindertaekwon-Do brachte sein &Uuml;briges. Im Jahr 2001 mit Einf&uuml;hrung des neuen Kurses KIBO-E ging es nur noch Bergauf und bald danach auch im Bereich Kickboxen. Auch wurde bald die magische Grenze von 100 erreicht und Ende 2002 sogar mit knapp  112 &uuml;berschritten.
          <br> <br>
          <b>Moderne Vereinsf&uuml;hrung und Verwaltung</b><br>
          Aber mit der positiv ansteigenden Mitgliederzahl kam auch immer mehr Arbeit auf den Vorstand und nat&uuml;rlich auch auf die &Uuml;bungsleiter zu. Dazu wurde ein Vereinsverwaltungsprogramm und eigene Vereinshardware (Drucker, Computer, Fax, etc.) angeschafft, um die Arbeit zu erleichtern.<br>
          Auch die Kommunikation innerhalb des Vorstandes l&auml;uft auf modernem Wege per e-mail ab, so das Entscheidungen oft auch &uuml;ber diesen Weg geregelt werden k&ouml;nnen ohne zus&auml;tzliche Sitzungen einzuberufen. Es entwickelte sich immer mehr zu einer modernen Vereinsf&uuml;hrung.
          <br>  <br>
          <b>Vereinsaktivit&auml;ten</b><br>
          Auch die Vereinsinternen Aktivit&auml;ten lassen sich sehen. Dazu z&auml;hlt nicht nur die allj&auml;hrliche Grillfeier , die Tagesfahrt der Kinder, und der Jahresabschluss in Form der Kindertaekwon-Do Olympiade, sondern mittlerweile auch Kurse im Wellnessbereich.<br>							Weitere Aktivit&auml;ten sind in Planung wie z.B. ein Erlebnis-Abenteuerwochende in der Natur im Sauerland.
          <br>  <br>
          <b>Sozialvertr&auml;gliche Beitragsgestaltung</b><br>
          Unsere Beitr&auml;ge sind so gestaltet, dass mehere Mitglieder einer Familie &uuml;ber unseren Familienbeitrag den Sport zusammen aus&uuml;ben k&ouml;nnen. Auch unser umfangreiches Kursangebot ist f&uuml;r die ganze Familie interessant und reicht vom Taekwon-Do f&uuml;r Kinder und Erwachsene bis zum Kickboxen und dem neuen Fitnesstrend KIBO-E.
        </p>

      </article>
      <!-- /Article -->

    </div>
  </div>
  <!-- /container -->

</main>
