<main id="main">

  <div class="container">
    <div class="row topspace">
      <div class="col-sm-8 col-sm-offset-2">

        <article class="post" ng-repeat="item in allBlogEntries | orderBy:'datum':false">
          <header class="entry-header">
            <div class="entry-meta">
              <span class="posted-on"><time class="entry-date published" date="{{item.datum}}">{{item.datum}}</time></span>
            </div>
            <h1 class="entry-title">{{item.titel}}</h1>
          </header>
          <div class="entry-content">
            <p ng-if="item.bild">
              <img  alt="" src="{{item.bild}}">
            </p>
            <p ng-bind-html="renderHtml(item.beschreibung)">
              {{item.beschreibung}}
            </p>
            <p ng-if="item.datei">
              <a href="{{item.datei}}" target="_blank">{{item.dateiname}}</a>
            </p>
          </div>
          <div class="row section recentworks topspace" ng-if="item.html5videos">

            <h2 class="section-title"><span>Videos</span></h2>

            <div class="thumbnails recentworks row">

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="vfiles in item.html5videos">


                  <video class="video" preload="metadata" autobuffer controls>
                    <div>Schade – hier käme ein Video, wenn Ihr
                      Browser HTML5 Unterstützung hätte, wie z.B. der
                      aktuelle Firefox</div>
                    <source ng-repeat="media in vfiles.videofiles" src="{{ media.url }}" type="{{ media.type }}">
                  </video>

              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

     <!--
    <center class="">
      <ul class="pagination">
        <li class="disabled"><a href="">&laquo;</a></li>
        <li class="active"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">6</a></li>
        <li><a href="">&raquo;</a></li>
      </ul>
    </center>
      -->

  </div>	<!-- /container -->

</main>
