<main id="main">

  <div class="container">

    <div class="row section topspace">
      <div class="col-md-12">
        <p class="lead text-center text-muted">
        <h1>Willkommen beim Budosport Düsseldorf </h1>
        Bist du sportbegeistert und an Kampfsport interessiert???
        <br><br>
        Dann bist du hier genau richtig! Hier gibt's Infos über unseren Verein, das Training und alle sonstigen
        Aktivitäten.
        <br>
        <b>Einfach mal reinschauen...</b>
        <br>
        Wenn Ihr gerne mitmachen möchtet, schaut einfach bei einer unserer Trainingsstunden vorbei. Einfach ein paar
        Trainingsklamotten zum Schnuppertraining mitnehmen und sich beim jeweiligen Trainer vor Ort melden!
        <br><br>
        Viele Grüße - Euer BSD - Team  </p>
      </div>
    </div>
    <!-- / section -->

    <div class="row section featured topspace ">
      <h2 class="section-title"><span>Neuigkeiten</span></h2>

      <div class="row">
        <div class="col-sm-6 col-md-3" ng-repeat="item in allBlogEntries | filter:showOnHomescreen | orderBy:'datum':false">
          <h3 class="text-center">{{item.titel}}</h3>
          <span class="posted-on"><time class="entry-date published" date="{{item.datum}}">{{item.datum}}</time></span>
          <p>
            {{item.beschreibung | limitTo: 50 }}{{item.beschreibung.length > 50 ? '...' : ''}}
          </p>
          <p class="text-center"><a href="#/blog" class="btn btn-action">Mehr lesen</a></p>
        </div>
      </div>
    </div>

    <!-- / section -->
      <!-- Bilder
    <div class="row section recentworks topspace">

      <h2 class="section-title"><span>Bilder</span></h2>

      <div class="thumbnails recentworks row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="../images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
            <span class="title">Sample title - big data solutions</span>
          </a>
          <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a> | <a href="">Logotype</a></span>
          <h4></h4>

          <p></p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="../images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
            <span class="title">Pure ipsum - development services for people</span>
          </a>
          <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a></span>
          <h4></h4>

          <p></p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="../images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
            <span class="title">Lorem studios - interior and patio design</span>
          </a>
          <span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
          <h4></h4>

          <p></p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="../images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
            <span class="title">Pure ipsum - development services for people</span>
          </a>
          <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a></span>
          <h4></h4>

          <p></p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="../images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
            <span class="title">Lorem studios - interior and patio design</span>
          </a>
          <span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
          <h4></h4>

          <p></p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="../images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
            <span class="title">Lorem studios - interior and patio design</span>
          </a>
          <span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
          <h4></h4>

          <p></p>
        </div>
      </div>

    </div>
    -->
    <!-- /section -->

    <div class="row section topspace">
      <div class="panel panel-cta">
        <div class="panel-body">
          <div class="col-lg-8">
            <p>Hier kannst du dir direkt unsere Anmeldung als PDF-Datei herunterlanden.
              <br>Antrag auf Mitgliedschaft im Budosport Düsseldorf e.V.</p>
          </div>
          <div class="col-lg-4 text-right">
            <a href="../assets/pdf/anmeldung.pdf" class="btn btn-primary btn-lg" target="_blank">Mitgliederantrag</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /section -->

    <div class="row section clients topspace text-center">
      <h2 class="section-title"><span>ITF Taekwon-Do</span></h2>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <p>
          <img src="../images/bsd_logo.png" alt="">
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <p>
          <img src="../images/itf_logo.png" alt="">
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <p>
          <img src="../images/International_Taekwon-Do_Fed_logo.png" alt="">
        </p>
      </div>

    </div>
    <!-- /section -->

  </div>
  <!-- /container -->

</main>
