<main id="main">

  <div class="container">

    <div class="row section topspace">
      <div class="col-md-12 maincontent">
        <p><img src="images/kickboxen1.gif" alt="" class="thumbnail"
                style="border: 2px solid #989898; float: left; padding: 7px; margin:15px"></p>

        <h3 id="info">Kickboxen</h3>

        <p>
          Kickboxen ist ein moderner Kampfsport, der sich aus klassischen Boxtechniken und Fußtechniken aus
          verschiedenen Kampfkünsten zusammensetzt.
          Gerade jetzt lebt dieser Sport wieder auf, da durch Ihn verschiedene konditionelle Eigenschaften wie Ausdauer,
          Kraft, Schnelligkeit, Beweglichkeit und Koordination optimal trainiert werden können. Wichtige
          Begleiterscheinung gerade für Frauen ist der Selbstverteidigungsaspekt des Kickboxens.

          In unserem Verein wird Wert auf gutes Gruppenklima gelegt, wobei in erster Linie die Freude am Sporttreiben
          erhalten bleiben soll. Natürlich bleibt es besonders ambitionierten Sportlern freigestellt, an öffentlichen
          Turmieren teilzunehmen.
        </p>
        <p>
          <b>Geschichte</b><br>
          Kickboxen entstand in den 70er Jahren in Amerika aus einer Kombination von Karate, Taekwon-Do, Boxen und
          Kung-Fu, wobei eher die sportliche Seite und weniger die traditionelle Kampfkunst im Vordergrund stand.
          Kickboxen entwickelte sich zu einem modernen, fairen Wettkampfsport. Einem Zweikampf nach strengen Regeln.
          Hohe technische Qualifikationen, taktisches Geschick und außerordentliche Kondition, sowie starke
          Willenseigenschaften bilden bis heute die Eckpfeiler dieser Sportart.

          Einige grossen Namen sind Benny "the Jet" Urquidez, Bill "Superfoot" Wallace, Peter "Sugarfoot" Cunningham,
          Don "the Dragon" Wilson, Chuck Norris und Howard Hanson, welcher auch die WKA (World Kickboxing and Karate
          Association) ins Leben rief.
          </p>
        <p>
          <b>Kampfsyteme </b><br>
          Das Kickboxen setzt sich aus den Disziplinen Semikontakt, Vollkontakt und Leichtkontakt zusammen. Die Regeln
          sind hierbei vom jeweiligen Sportverband bzw. von der Art und dem Ursprung der Kampftechnik abhängig.
        </p>
      </div>
    </div>


  </div>
  </div>  <!-- /container -->

</main>
