<main id="main">

  <div class="container">

    <div class="row section topspace">
      <div class="col-md-12 maincontent">
        <input type="text" ng-model="termine.search" class="search-query" id="termin_search" placeholder="Datum...">
        <p>&nbsp;</p>
        <uib-accordion>
          <uib-accordion-group ng-repeat="item in allTermine | filter:termine.search | orderBy:'datum':true">
            <uib-accordion-heading>
              {{item.datum}}: {{item.titel}}
            </uib-accordion-heading>
            {{item.beschreibung}}
          </uib-accordion-group>

        </uib-accordion>

      </div>
    </div>
  </div>
</main>

